@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

:root {
   --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
   --body-color: #E4E9F7;
   --light-bg: #eee;
      	/* Variables for storing colors */
	--card-clr: #161922;
	--body-clr: #191d28;
	--primary-clr: #f0bf6a;
	--heading-clr: #dadada;
	--text-clr: #767a86;
}

*::-webkit-scrollbar-thumb {
   background-color: #232A3D;
   border-radius: 5rem;
}


html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 10rem;
}

body {
   background-color: var(--body-color);
   background-image:  url('../images/header3.png');
   background-size: cover;
   background-position: center center;
   background-repeat:  no-repeat;
   background-attachment: fixed;
}

section {
   padding: 3rem 2rem;

   margin: 0 auto;
}
/* removed from section  max-width: 1200px; */





/* Navbar */

.navbarNav .nav-link {
   background-color: #232A3D;
   color: #FFF;
   border-radius: 5px;
}

.navbar-nav .nav-item {
   font-size: 1.5rem;
   padding: 1rem;
   border-radius: 5px;
}

.nav-item .nav-link:hover {
   padding-left: 1rem;
   padding-right: 1rem;

}

.nav-item .nav-link:hover {
   background-color: #232A3D;
   color: #FFF;
   border-radius: 5px;

}

.signOutbtn .btn {
   background-color: #232A3D;
   color: #FFF;
   font-size: 1.5rem;
}

.signOutbtn .btn:hover {
   background-color: #E4E9F7;
   color: #232A3D;
}

/* .d-flex .btn {
   background-color: #232A3D;
   color: #FFF;
   font-size: 1.5rem;
}

.d-flex .btn:hover {
   background-color: #E4E9F7;
   color: #232A3D;
} */

/* Enlisting Property */


/* .form-select{
   font-size: 1rem;
}

.form-label{
   font-size: 1.2rem;
   font-weight: 400;
} */

.btnA {
   display:block;
   border: solid 1.5px grey;
   width: 100px;
   height:20px;
   color:rgb(80, 80, 80);
   text-align:center;
   font-size: 1rem;
   padding-top: 1px;
   border-radius: 3px;
}

.btnA:hover {
   display:block;
   width: 100px;
   height:20px;
   border: solid 1.5px #232A3D;
   text-align:center;
   font-size: 1rem;
   padding-top: 2px;
}

/* .accomJumbuildings {
   background-image:  url('../images/header3.png');
   background-size: cover;
   background-position: center center;
   background-repeat:  no-repeat;
   background-attachment: fixed;
} */

/* <!-- hide input --> */
input[type=checkbox] {
   display: none;
}

/* <!--Add styling on check --> */
input:checked + label {
    border: solid 1.5px #273353;
    color: white;
    background-color: #232A3D;
}

/* .enlistDetails {
   overflow-y: auto;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
 

/* .login {
   min-height: 85vh;
 } */
 
 .bg-image {
   margin-top: 110px;
   padding-left: 80px;
 }

 /* .logoImg{
   background-image: url('/images/logo.png');
   background-size: cover;
   background-position: center;
 } */
 
 /* .bg-image {
   background-image: url(../images/hero-img.png);
   background-size: no-repeat;
   background-position: center;
 } */
 
 .login-heading {
   font-weight: 300;
 }
 
 .btn-login {
   font-size: 0.9rem;
   letter-spacing: 0.05rem;
   padding: 0.75rem 1rem;
 }
 

/* .enlistDetailscon{
   width: 70%;
}
 */




/* @media (min-width:768px){
   .enlistDetails{
      margin-left: 1200px;
      margin-right: 1200px;
   }
} */





.multisteps-form__progress {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
   
   padding-top: 10px;
 }
 
 .multisteps-form__progress-btn {
   transition-property: all;
   transition-duration: 0.15s;
   transition-timing-function: linear;
   transition-delay: 0s;
   position: relative;
   padding-top: 20px;
   color: rgba(108, 117, 125, 0.7);
   text-indent: -9999px;
   border: none;
   background-color: transparent;
   outline: none !important;
   cursor: pointer;
 }
 @media (min-width: 500px) {
   .multisteps-form__progress-btn {
     text-indent: 0;
   }
 }
 .multisteps-form__progress-btn:before {
   position: absolute;
   top: 0;
   left: 50%;
   display: block;
   width: 13px;
   height: 13px;
   content: '';
   -webkit-transform: translateX(-50%);
           transform: translateX(-50%);
   transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
   transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
   transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
   border: 2px solid currentColor;
   border-radius: 50%;
   background-color: #fff;
   box-sizing: border-box;
   z-index: 3;
 }
 .multisteps-form__progress-btn:after {
   position: absolute;
   top: 5px;
   left: calc(-50% - 13px / 2);
   transition-property: all;
   transition-duration: 0.15s;
   transition-timing-function: linear;
   transition-delay: 0s;
   display: block;
   width: 100%;
   height: 2px;
   content: '';
   background-color: currentColor;
   z-index: 1;
 }
 .multisteps-form__progress-btn:first-child:after {
   display: none;
 }
 .multisteps-form__progress-btn.js-active {
   color: #007bff;
 }
 .multisteps-form__progress-btn.js-active:before {
   -webkit-transform: translateX(-50%) scale(1.2);
           transform: translateX(-50%) scale(1.2);
   background-color: currentColor;
 }
 
 .multisteps-form__form {
   position: relative;
 }
 
 .multisteps-form__panel {
   top: 0;
   left: 0;
   width: 100%;
   height: 0;
   opacity: 0;
   visibility: hidden;
 }
 .multisteps-form__panel.js-active {
   height: auto;
   opacity: 1;
   visibility: visible;
 }
 .multisteps-form__panel[data-animation="scaleOut"] {
   -webkit-transform: scale(1.1);
           transform: scale(1.1);
 }
 .multisteps-form__panel[data-animation="scaleOut"].js-active {
   transition-property: all;
   transition-duration: 0.2s;
   transition-timing-function: linear;
   transition-delay: 0s;
   -webkit-transform: scale(1);
           transform: scale(1);
 }
 .multisteps-form__panel[data-animation="slideHorz"] {
   left: 50px;
 }
 .multisteps-form__panel[data-animation="slideHorz"].js-active {
   transition-property: all;
   transition-duration: 0.25s;
   transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
   transition-delay: 0s;
   left: 0;
 }
 .multisteps-form__panel[data-animation="slideVert"] {
   top: 30px;
 }
 .multisteps-form__panel[data-animation="slideVert"].js-active {
   transition-property: all;
   transition-duration: 0.2s;
   transition-timing-function: linear;
   transition-delay: 0s;
   top: 0;
 }
 .multisteps-form__panel[data-animation="fadeIn"].js-active {
   transition-property: all;
   transition-duration: 0.3s;
   transition-timing-function: linear;
   transition-delay: 0s;
 }
 .multisteps-form__panel[data-animation="scaleIn"] {
   -webkit-transform: scale(0.9);
           transform: scale(0.9);
 }
 .multisteps-form__panel[data-animation="scaleIn"].js-active {
   transition-property: all;
   transition-duration: 0.2s;
   transition-timing-function: linear;
   transition-delay: 0s;
   -webkit-transform: scale(1);
           transform: scale(1);
 }
 



